body {
	background: white;
}

.block1 {
	float: left;
	width: 300px;
	height: 350px;
	border: 0px solid black;
	position: absolute;
	top: 100px;
	left: 0px;
}

.block2 {
	float: left;
	width: 400px;
	height: 350px;
	border: 0px solid black;
	position: absolute;
	top: 100px;
	left: 300px;
	width: 400px;
}

.block3 {
	clear: both;
	text-align: center;
	color: #d2d2d2;
	font-size: 25px;
	width: 700px;
	height: 70px;
	border: 0px solid black;
	position: absolute;
	top: 450px;
	left: 0px;
	width: 700px;
	text-padding: 0px;
	color: #d2d2d2;
	text-align: center;
}

.head {
	float: left;
	width: 700px;
	height: 100px;
	border: 0px solid black;
	position: absolute;
	top: 0px;
	left: 0px;
}

table {
	border: 1px solid black;
	width: 350px;
	height: 100px;
	align: left;
	color: black;
	border-collapse: collapse;
}

img {
	width: 300px;
	hieght: 350;
}

th, td {
	font-size: 25px;
	text-align: left;
	border: 1px solid black;
	padding: 5px;
}

li {
	font-size: 26px;
	padding: 5px;
}